body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.table-menu {
    background-color: gray;
}
.start, .table-menu {
    margin: 0 auto;
    width: 1200px;
}
.start {
    background: url("../img/banner.png");
}
.table-menu td, .start td, a {
    text-align: center;
    color: white;
}
a {
    text-decoration: none;
}
td.logo {
    text-align: left;
}